@{
    ViewBag.Title = "Extra Rice";
}

<h2>ExtraRice</h2>
<p style="font-size:16px; font-family:Arial 'Trebuchet MS'; text-align:center;">Farmer's Forum</p>


<table style="width:740px; margin:25px 0px 0px 150px">
    <tr style="text-align:left;border:1px solid black;
border-collapse:collapse">
        <td style="background-color:chocolate;"><a href="#" style="text-decoration:none; font-weight:bold; color:white; font-family:Calibri;"> Techniques</a></td></tr>
        <tr style="text-align:left;border:1px solid black;
border-collapse:collapse">
            <td>Matatagpuan dito ang iba't ibang paraan sa pagtatanim ng palay.</td>
    </tr>
</table>

<table style="width:740px; margin:25px 0px 0px 150px">
    <tr style="text-align:left;border:1px solid black;
border-collapse:collapse">
        <td style="background-color:chocolate;"><a href="#" style="text-decoration:none; font-weight:bold; color:white; font-family:Calibri;">Farming Tools</a></td></tr>
        <tr style="text-align:left;border:1px solid black;
border-collapse:collapse">
            <td>Matatagpuan dito ang iba't ibang makabagong teknolohiya sa pagtatanim ng palay.</td>
    </tr>
</table>

<table style="width:740px; margin:25px 0px 0px 150px">
    <tr style="text-align:left;border:1px solid black;
border-collapse:collapse">
        <td style="background-color:chocolate;"><a href="#" style="text-decoration:none; font-weight:bold; color:white; font-family:Calibri;">Diskurso</a></td></tr>
        <tr style="text-align:left;border:1px solid black;
border-collapse:collapse">
            <td>Makipag Talakayan sa ibat ibang magsasaka, agriculurist at mga eksperto sa pagsasaka</td>
    </tr>
</table>