@{
    ViewBag.Title = "Fertilizer";
}

<h2>Fertilizer</h2>

<p>
     <a href="http://www.bas.gov.ph/amsad_price2action.php?filesit=FerPrSitJul2014.pdf&filesit2=Get+Updates%21" target="_blank">Mga Presyo ng Pataba</a>
    <p>From: Philippines Statistics Authority
</p>
</p>