@{
    ViewBag.Title = "Home Page";
}
<h2>Featured News</h2>
<img src="../../Content/tile.png" style="width: 250px; height: 250px; padding: 10px 10px 10px 10px" />
<img src="../../Content/tile2.png" style="width: 250px; height: 250px; padding: 10px 10px 10px 10px" />
<img src="../../Content/tile3.png" style="width: 250px; height: 250px; padding: 10px 10px 10px 10px" />
<img src="../../Content/tile4.png"  style="width: 250px; height: 250px; padding: 10px 10px 10px 10px"/>
<img src="../../Content/tile5.png"  style="width: 250px; height: 250px; padding: 10px 10px 10px 10px"/>
<img src="../../Content/tile6.png"  style="width: 250px; height: 250px; padding: 10px 10px 10px 10px"/>
