@{
    ViewBag.Title = "Kooperatiba";
}

<h2>Kooperatiba</h2>
<p>
     <a href="http://gwhs-dev.i.gov.ph/~cdagovph/images/Downloads/Masterlist_Asof_2013Sep30.pdf" target="_blank">Mga Kooperatiba</a>
    <p>From: COOPERATIVE DEVELOPMENT AUTHORITY
</p>
</p>
