@{
    ViewBag.Title = "Presyo";
}

<h2>Presyo</h2>
<p>
<a href="http://www.bas.gov.ph/amsad_price1action.php?filesit=CerPrSitAugWeek12014.pdf&filesit2=Get+Updates%21" target="_blank">Mga Presyo ng Palay at Bigas</a>
    <p>From: Philippines Statistics Authority
</p>
</p>